<div class="jumbotron">
    <h2>Estimate Menu</h2>
    <div>
        <div>Login now  > @Html.ActionLink("Login", "Login", "Login")</div>
        <div>Create Estimate > @Html.ActionLink("Create Estimate", "CreateEstimate", "CreateEstimator")</div>
    </div>
</div>
<div class="row">
</div>